*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
h1, h2 , h3, h4, h5, h6{
    text-transform: capitalize;
    font-family: verderna;
}
hr{
    color: red;
}
h1{
    color: #6589ad;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    position: relative;
}
.container :not(.design, hr){
    padding: 10px;
}

.design{
    background-color: rgb(255, 199, 199);
    width: 100%;
    height: 30px;
}
.design > .blue{
    background-color: rgb(103, 103, 255);
    height:100%
}
.top{
    width: 30%;
}
.footer{
    width: 70%;
    float: right;
}
.cv-content{
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 0.3s linear;
}
.name h1{
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
}
.profile{
    width: 350px;
    height: 300px;
    
}
 .profile img{
    width: 100% ;
    height: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}
.skill-list{
    columns: 2;
}
/* set up media queries for the responsive website */
@media only screen and (max-width: 800px){
    .cv-content{
        display: block;
        /* background-color: red; */
    }
    
}